@import url("https://fonts.googleapis.com/css?family=Poppins:400,600|Roboto");

h9{
  font-size:17px;
  font-family: 'Poppins', sans-serif;
  font-weight: 700;
  color: #191c1e;
  margin-left: 20px;
}
.course-2 {
	background-color: #fff;
	border-radius: 10px;
	box-shadow: 0 10px 10px rgba(0, 0, 0, 0.2);
	display: flex;
	max-width: 100%;
	margin: 20px;
	overflow: hidden;
	width: 700px;
}
.course-preview-2 {
	background-color: #fff;
	color: rgb(0, 0, 0);
	padding: 10px;
	width: 300px;
}
.course-2 h10 {
  font-size:21px;
  margin-left: 10px;
	color: black;
}
.col-60{
  width: 60%;
}

#allow-2{
  font-size:17px;
	margin-left: 130px;
	margin-top: 16px;
}
#allow-3{
  font-size:17px;
	margin-left: 120px;
	margin-top: 16px;
}
